<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genotrixcube">
    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/genotrixcube1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/genotrixcube1"
        android:supportsRtl="true"
        android:theme="@style/XD.Theme.App"
        tools:replace="android:label, android:icon, android:theme">
        <activity android:name=".activity.SplshActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XD.Theme.App.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XD.Theme.App.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.CoverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XD.Theme.App.NoActionBar"
            android:windowSoftInputMode="adjustPan">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="29.0.2" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.genotrixcube.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activity.CodeActivity" />
    </application>

</manifest>